.navbar{
    background-color: transparent;
    box-shadow: 0 1px 20px #eaeaea;
    transition: background-color 1s ease 0s;
}

.navbar.solid{
    transition: background-color 1s ease 0s;
}

footer a, footer p{
    color: white;
}

.gold-star{
    color: gold;
}

.black-star{
    color: #cccccc;
}

.card-img-top{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.w-100{
    height: 623px; 
    object-fit: cover;
}